/* Ẩn dropdown khi không cần thiết */
.hidden {
    display: none;
}

/* Các kiểu dáng cơ bản cho các button và dropdown */
.select-button {
    background-color: white;
    color: #212529;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 300px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid #dee2e6;
}

.confirm-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px; /* Padding 10px */
    cursor: pointer;
    border-radius: 4px;
    width: 100%; /* Đặt chiều rộng bằng với chiều rộng của container */
    font-size: 16px;
    margin-top: 10px;
}

.custom-select {
    position: relative;
}

/* Điều chỉnh kích thước của controls */
.controls {
    display: flex;
    align-items: center;
    gap: 8px; /* Khoảng cách giữa các phần tử */
}

/* Sắp xếp các guest-type theo chiều dọc */
.guest-count {
    display: flex; /* Hiển thị các phần tử trong cùng một dòng */
    flex-direction: column; /* Các phần tử "Người lớn", "Trẻ em", "Em bé" nằm theo chiều dọc */
    gap: 20px; /* Khoảng cách giữa các phần tử "Người lớn", "Trẻ em", "Em bé" */
}

/* Cấu hình cho mỗi phần tử guest-type */
.guest-type {
    display: flex; /* Các phần tử "Người lớn", "Trẻ em", "Em bé" và các controls nằm trên cùng một dòng */
    flex-direction: row; /* Đảm bảo chúng nằm ngang */
    align-items: center; /* Căn giữa các phần tử theo chiều dọc */
    text-align: center;
    justify-content: flex-start; /* Đặt phần tử về bên trái */
}

/* Điều chỉnh kích thước các nút giảm và tăng */
.controls .btn {
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    margin-right: 5px; /* Khoảng cách bên phải giữa các nút */
}

/* Điều chỉnh kích thước input */
.controls .number-input {
    width: 50px;
    height: 30px;
    text-align: center;
    margin-right: 5px; /* Khoảng cách bên phải của input */
}

/* Cấu hình cho control bên phải ngoài cùng */
.guest-type .controls {
    margin-left: auto; /* Đẩy phần tử control sang phía bên phải */
    margin-right: 1px; /* Khoảng cách nhỏ giữa các phần tử */
}


/* Dropdown */
.dropdown {
    position: absolute;
    top: 100%; /* Đưa dropdown xuống phía dưới phần tử cha */
    left: 0;
    background-color: #fff; /* Nền trắng */
    padding: 10px;
    width: 100%; /* Giới hạn độ rộng của dropdown theo độ rộng của nút */
    max-width: 300px; /* Giới hạn độ rộng tối đa của dropdown */
    border: 2px solid #333; /* Viền đen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
    z-index: 100;
    border-radius: 8px;
}
