{% extends 'layout/base.html' %}

{% block content %}

<div class="container">
    <h2 class="text-center my-4" style="color: #ff5722; font-weight: bold;">Flight Booking</h2>
    <div class="form-section p-4 rounded" style="background-color: #fff8f0; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <form method="GET" action="/search">
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="departure" class="form-label">Từ (Departure)</label>
                        <input class="form-control" list="departures" name="departure" id="departure"
                               placeholder="Tìm thành phố hoặc sân bay" autocomplete="off">
                        <datalist id="departures">
                            {% for airport in airports %}
                            <option value="{{ airport.airport_name }}">
                                {% endfor %}
                        </datalist>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="arrival" class="form-label">Đến (Arrival)</label>
                        <input class="form-control" list="arrivals" name="arrival" id="arrival"
                               placeholder="Tìm thành phố hoặc sân bay" autocomplete="off">
                        <datalist id="arrivals">
                            {% for airport in airports %}
                            <option value="{{ airport.airport_name }}">
                                {% endfor %}
                        </datalist>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Ngày khởi hành</label>
                    <input type="date" class="form-control mt-2" id="departure_date" placeholder="Ngày khởi hành"
                           name="departure_date" required>
                </div>
                <div class="col-md-6">
                    <div class="form-check d-flex align-items-center mb-3">
                        <input class="form-check-input me-2" type="checkbox" id="roundTrip"
                               onclick="toggleReturnDate()">
                        <label class="form-check-label" for="roundTrip" style="font-weight: bold;">Khứ hồi</label>
                    </div>
                    <input type="date" class="form-control" id="return_date" name="return_date" style="display: none;">

                </div>
            </div>


            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Hành khách</label>
                    <div class="custom-select">
                        <button type="button" class="select-button" id="select-button">Chọn số hành khách</button>
                        <div class="dropdown hidden">
                            <h2 class="dropdown-title">Số hành khách</h2>
                            <div class="guest-count">
                                <div class="guest-type">
                                    <span>Người lớn</span>
                                    <div class="controls">
                                        <button type="button" class="btn decrease" onclick>-</button>
                                        <input type="number" value="1" min="1" class="number-input" id="adult-count"
                                               name="adult_count">
                                        <button type="button" class="btn increase">+</button>
                                    </div>
                                </div>
                                <div class="guest-type">
                                    <span>Trẻ em</span>
                                    <div class="controls">
                                        <button type="button" class="btn decrease">-</button>
                                        <input type="number" value="0" min="0" class="number-input" id="child-count"
                                               name="child_count">
                                        <button type="button" class="btn increase">+</button>
                                    </div>
                                </div>
                                <div class="guest-type">
                                    <span>Em bé</span>
                                    <div class="controls">
                                        <button type="button" class="btn decrease">-</button>
                                        <input type="number" value="0" min="0" class="number-input" id="infant-count"
                                               name="infant_count">
                                        <button type="button" class="btn increase">+</button>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="confirm-button" onclick="confirmSelection()">Xong</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-orange text-white"
                        style="background-color: #ff5722; border: none;">
                    Tìm kiếm
                </button>
            </div>
        </form>
    </div>

    <div class="container mt-5 d-flex justify-content-center">
        <!--    flight    -->
        <div class="col-md-9">
            {% if flights %}
            {% for flight in flights %}
            <div class="card mb-3">
                <div class="card-header bg-primary text-white">
                    {{ flight.plane.plane_name }}
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="time text-center">
                            <h6 class="mb-0 text-success">{{ flight.f_dept_time.strftime('%H:%M') }}</h6>
                            <span class="text-muted d-block">{{ flight.flight_route.departure_airport.airport_name }}</span>
                        </div>

                        <div class="text-center">
                            <h6 class="mb-0 text-info">{{ flight.flight_type.name }}</h6>
                            <div><i class="bi bi-arrow-right"></i></div>
                            <span class="text-muted">{{ flight.flight_duration }} giờ</span>
                        </div>
                        <div class="time text-center">
                            <h6 class="mb-0 text-success">{{ flight.flight_arr_time.strftime('%H:%M') }}</h6>
                            <span class="text-muted d-block">{{ flight.flight_route.arrival_airport.airport_name }}</span>
                        </div>
                        <div class="price text-danger">
                            <span>{{ flight.flight_price | intcomma }} VNĐ</span>
                        </div>
                        <div>
                            <button class="btn btn-primary" data-bs-toggle="collapse"
                                    data-bs-target="#economyDetails-{{ flight.flight_id }}">
                                Chọn <i class="bi bi-chevron-down"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Economy Cards -->

            <div class="collapse mt-2" id="economyDetails-{{ flight.flight_id }}">
                <div class="row">
                    {% if flight.available_economy_seats() >= 0 %}
                    <div class="col-md-4 mb-3">
                        <div class="card border-warning">
                            <div class="card-body">
                                <h5 class="card-title text-info">ECONOMY</h5>
                                <p class="card-text">Eco</p>
                                <hr>
                                <h6>Hành lý</h6>
                                <ul class="list-unstyled">
                                    <li><i class="bi bi-bag"></i> Hành lý ký gửi: <strong>Không</strong></li>
                                    <li><i class="bi bi-bag-check"></i> Xách tay: <strong>1 kiện 07 kg</strong></li>
                                </ul>
                                <h6>Điều kiện vé</h6>
                                <p class="price text-danger">{{ flight.flight_price | intcomma }} VNĐ</p>
                                <p>Một chiều</p>
                                <button class="btn btn-success"
                                        onclick="addToCart(
                                        '{{ flight.flight_id }}',
                                        '{{ flight.plane_name }}',
                                        '{{ flight.flight_route.departure_airport.airport_name }}',
                                        '{{ flight.flight_route.arrival_airport.airport_name }}',
                                        '{{ flight.f_dept_time.strftime('%Y-%m-%d') }}',
                                        'ECONOMY',
                                        '{{ flight.flight_price }}')">
                                    Đặt vé
                                </button>
                            </div>
                        </div>
                    </div>
                    {%endif%}

                    {% if flight.available_business_seats() >= 0 %}
                    <div class="col-md-4 mb-3">
                        <div class="card border-warning">
                            <div class="card-body">
                                <h5 class="card-title text-info">BUSINESS</h5>
                                <p class="card-text">Eco</p>
                                <hr>
                                <h6>Hành lý</h6>
                                <ul class="list-unstyled">
                                    <li><i class="bi bi-bag"></i> Hành lý ký gửi: <strong>1 kiện</strong></li>
                                    <li><i class="bi bi-bag-check"></i> Xách tay: <strong>1 kiện 07 kg</strong></li>
                                </ul>
                                <h6>Điều kiện vé</h6>
                                <p class="price text-danger">{{ (flight.flight_price * 2) | round(0) | intcomma }}
                                    VNĐ</p>
                                <p>Một chiều</p>
                                <button class="btn btn-success"
                                        onclick="addToCart(
                                        '{{ flight.flight_id }}',
                                        '{{ flight.plane_name }}',
                                        '{{ flight.flight_route.departure_airport.airport_name }}',
                                        '{{ flight.flight_route.arrival_airport.airport_name }}',
                                        '{{ flight.f_dept_time.strftime('%Y-%m-%d') }}',
                                        'BUSINESS',
                                        '{{ flight.flight_price }}')">
                                    Đặt vé
                                </button>
                            </div>
                        </div>
                    </div>
                    {%endif%}

                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="alert alert-warning" role="alert">
                Không có chuyến bay nào phù hợp với tiêu chí tìm kiếm của bạn.
            </div>
            {% endif %}
        </div>
    </div>
</div>

    <!-- End Popular Flight Route -->


    {% endblock %}