<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Flight Details</h2>

<div>
    <strong>Plane Name:</strong> {{ plane_name }}
</div>
<div>
    <strong>Company Name:</strong> {{ company_name }}
</div>
<div>
    <strong>Departure Time:</strong> {{ departure_time }}
</div>
<div>
    <strong>Arrival Time:</strong> {{ arrival_time }}
</div>
<div>
    <strong>Flight Duration:</strong> {{ flight_duration }} hours
</div>
<div>
    <strong>Flight Price:</strong> {{ flight_price | intcomma }} VNĐ
</div>

</body>
</html>